{% include 'partials/header.html.twig' %}
<div class="container">
    <div class="alert alert-danger mt-5" role="alert">
        Access Denied
    </div>
</div>
{% include 'partials/footer.html.twig' %}